<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>About RizzBot | RizzBot</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div>
    <ul>
      <li><a href="index.html">home</a></li>
      <li><a href="about.html" class="active">about</a></li>
    </ul>
  </div>

  <div style="padding-top: 70px;">
    <h2>Welcome to RizzBot!</h2>
    <p>In a world where a multitude of factors are taken into consideration, being viewed as attractive (or, as the youngins say, "W rizz") is no simple feat. However, with doubleURizz, be prepared to amaze everyone with your W rizz. By utilizing OpenCV  </p>
  </div>
</body>